table{

    border-collapse: collapse;
    width: 100%;
    text-align: center;
    line-height: 200%;
    border-bottom: 1px solid #ddd;

}

.page-header {

    text-align: center;
    border-bottom: 1px solid #ddd;

}

.mellemrum {



}










